<ion-view view-title="">
      <ion-nav-title>
        <img class="head-logo" src="../img/jointlogo2.png">
    </ion-nav-title>
  <ion-content>
   <div class="row hacr">
        <div class="col">
            <h2 class="title-h2">
                Commercial Fueling
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col main-logo">
            <p>
                <img src="../img/logo.png" alt="">
            </p>
            <p>
                <img src="../img/logo_gateco.png" alt="">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <strong>Diesel Fuel, Gasoline, #2 Heating Oil, Kerosene</strong>
            </p>
            <p>
                The Gateco transport division is glad to reach your commercial fueling needs for Ultra Low Sulfur Diesel (on road or off road), Gasoline, #2 Heating oil, and Kerosene. We are equipped to meet customer needs on a wholesale and commercial basis. Competitively priced in the market, we take pride in reaching our customers' demands seven days per week. Whether it is for a convenience store, farm equipment, or construction tanks, our fleet is ready to serve your fueling needs. If you are interested in becoming a customer please contact us today, or submit the new customer (link) section of our website. Also, please feel free to contact our Gateco manager at <a href="mailto:inforequest@berico.com" target="_blank">inforequest@berico.com</a> or 336-496-1455.  We are also glad to send commercial customers our daily prices if you are interested!
            </p>
            <p style="text-align:center;">
                <strong><a href="http://www.berico.com/contact-us/berico/">Contact Us Now</a></strong>
            </p>
        </div>
    </div>
<div class="row footer-icons">
   <div class="col">
       <a href="https://www.facebook.com/Berico-Heating-and-Air-Conditioning-132691350173585/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://plus.google.com/+BericoFuelsGreensboro/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.youtube.com/channel/UCSiu8RPldG0VY-2TWLv7z7A">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.linkedin.com/company/hvac-tv-commercials">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
    </div>
</div>
  </ion-content>
</ion-view>
