<ion-view view-title="">
      <ion-nav-title>
        <img class="head-logo" src="../img/jointlogo2.png">
    </ion-nav-title>
  <ion-content>
   <div class="row hacr">
        <div class="col">
            <h2 class="title-h2">
                Contact Us
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col contact-item">
            <h2 class="title-h2">
                Berico Fuels:
            </h2>
            <div class="row">
                <div class="col-25">
                    Phone:
                </div>
                <div class="col-75">
                    336-496-1455
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Email:
                </div>
                <div class="col-75">
                    <a href="mailto:inforequest@berico.com" target="_blank">inforequest@berico.com</a>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Address:
                </div>
                <div class="col-75">
                    2200 E. Bessemer Ave.
                    Greensboro, NC 27405
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center;">
                    <a href="http://berico.com/wp/?page_id=91">VIEW MAP</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col contact-item">
            <h2 class="title-h2">
                Gateco:
            </h2>
            <div class="row">
                <div class="col-25">
                    Phone:
                </div>
                <div class="col-75">
                    336-496-1455
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Email:
                </div>
                <div class="col-75">
                    <a href="mailto:inforequest@berico.com" target="_blank">inforequest@berico.com</a>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Address:
                </div>
                <div class="col-75">
                    2200 E. Bessemer Ave.
                    Greensboro, NC 27405
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center;">
                    <a href="http://berico.com/wp/?page_id=91">VIEW MAP</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col contact-item">
            <h2 class="title-h2">
                Carolina Fuels:
            </h2>
            <div class="row">
                <div class="col-25">
                    Phone:
                </div>
                <div class="col-75">
                    336-623-9741
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Email:
                </div>
                <div class="col-75">
                    <a href="mailto:inforequest@carolinafuels.com" target="_blank">inforequest@carolinafuels.com</a>
                </div>
            </div>
            <div class="row">
               <div class="col-25">
                   
               </div>
                <div class="col-75">
                    <a href="http://www.carolinafuels.com/">www.carolinafuels.com/</a>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Address:
                </div>
                <div class="col-75">
                    856 S. Van Buren Road
                    Eden, NC 27288
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center;">
                    <a href="http://berico.com/wp/?page_id=95">VIEW MAP</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col contact-item">
            <h2 class="title-h2">
                Alamance Oil:
            </h2>
            <div class="row">
                <div class="col-25">
                    Phone:
                </div>
                <div class="col-75">
                    336-623-9741
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Email:
                </div>
                <div class="col-75">
                    <a href="mailto:inforequest@berico.com" target="_blank">inforequest@berico.com</a>
                </div>
            </div>
            <div class="row">
               <div class="col-25">
                   
               </div>
                <div class="col-75">
                    <a href="http://www.alamanceoilco.com">www.alamanceoilco.com</a>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    Address:
                </div>
                <div class="col-75">
                    1525 W. Webb Avenue
                    Burlington, NC 27217
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align:center;">
                    <a href="http://berico.com/wp/?page_id=93">VIEW MAP</a>
                </div>
            </div>
        </div>
    </div>
<div class="row footer-icons">
   <div class="col">
       <a href="https://www.facebook.com/Berico-Heating-and-Air-Conditioning-132691350173585/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://plus.google.com/+BericoFuelsGreensboro/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.youtube.com/channel/UCSiu8RPldG0VY-2TWLv7z7A">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.linkedin.com/company/hvac-tv-commercials">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
    </div>
</div>
  </ion-content>
</ion-view>
