<ion-view view-title="">
      <ion-nav-title>
      <img class="head-logo" src="img/jointlogo2.png">
    </ion-nav-title>
  <ion-content>
        <div class="row responsive-sm">
            <div class="col address">
                <p class="street">2200 E Bessemer Ave </p>
                <p class="city">Greensboro, NC 27405 </p>
<!--                <p class="tel">(336) 496-0980</p>-->
            </div>
                    </div>
            <div class="row cta-btn">
               <div class="col">
                <p>
                <a href="tel:+13364960980" class="cta button button-large">CLICK TO CALL</a>
                </p>
                <p>
                <a href="#/app/schedule-fuel-delivery" class="fpd-btn button button-clear"></a>
                </p>
                <p>
                <a href="#/app/schedule-hvac-service" class="shs-btn button button-clear"></a>
                </p>
                </div>
            </div>

        <div class="row responsive-sm">
            <div class="col">
                <h2 style="text-align:center;">HVAC Service and Repair, Hime Heating Oil and Propane Delivery</h2>
            </div>
                        </div>
            <div class="row grp-btns">
               <div class="col">
                <p>
                <a href="https://myaccount.berico.com/login" class="cta button button-large">My Account</a>
                </p>      
                <p>
                <a  class="cta button button-large" href="#/app/newacct">New Account</a>
                </p> 
                <p>
                <a href="#/app/propane-delivery-services" class="cta button button-large">Propane/Heating</a>
                </p> 
                <p>
                <a href="#/app/heating-AC-repair" class="cta button button-large">Heating &amp; A/C Repair</a>
                </p> 
                <p>
                <a href="#/app/motor-oil-and-lubricants" class="cta button button-large">Motor Oil &amp; Lubricants</a>
                </p> 
                <p>
                <a href="#/app/commercial-fueling" class="cta button button-large">Commercial/Wholesale</a>
                </p> 
                <p>
                <a href="#/app/specials" class="cta button button-large">Specials</a>
                </p> 
                <p>
                <a class="cta button button-large" href="http://www.giftofwarmth.com/">Gift of Warmth</a>
                </p> 
                <p>
                <a href="#/app/contact" class="cta button button-large">Our Locations</a>
                </p> 
                <p>
                <a href="http://www.berico.com/category/articles/" class="cta button button-large">Info &amp; Articles</a>
                </p> 
                <p>
                <a href="#/app/meet-our-service-team" class="cta button button-large">Our Team</a>
                </p>           
        </div>
 </div>       
        <div class="row">
            <div class="col">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/K9oi6pBDBK8" frameborder="0" allowfullscreen></iframe>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col long-txt">
            <p>Berico Heating &amp; Air, Carolina Fuels, and Alamance Oil Company are dedicated to keeping your home the right temperature 24/7, 365. If you are a homeowner in need of heating fuel or propane, or maybe having problems with your heating or air conditioning unit, we understand you want fast, dependable, and affordable help. On a cold winter day when you need a furnace repaired, it is a top priority. Conversely, a hot summer day with a broken central air conditioning is not only uncomfortable, but also unhealthy.</p>
			<p>HVAC service and repair, home heating oil and propane delivery has been our specialty in Greensboro, High Point, Eden, Burlington and the surrounding areas since 1924. As an HVAC contractor we are able to diagnose and resolve  problems for all heating or cooling systems. Furthermore, if you need a new HVAC system, air conditioning, or furnace we can take care of that as well. You will find that we install heating and air conditioning units from some of the best manufacturers including: Lennox, York, Goodman, Armstrong Air, and Thermopride.</p>
			<p>In addition to keeping your furnace in good working condition, we deliver home heating fuel, propane, and kerosene to residential customers and commercial clients alike. In addition to heating fuels we deliver diesel fuel, gasoline, and motor oil products. As the Triad's top propane and fuel supplier, you will find our delivery service reliable and affordable. To schedule a fuel delivery or service of any type, contact us today.</p>
			<p>We would love to hear your feedback.  Please visit <a href="http://bericoreviews.com">BericoReviews.com</a> to leave us a testimonial and be entered to win a free AC Cleaning!</p>
            </div>
        </div>
<div class="row footer-icons">
   <div class="col">
       <a href="https://www.facebook.com/Berico-Heating-and-Air-Conditioning-132691350173585/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://plus.google.com/+BericoFuelsGreensboro/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.youtube.com/channel/UCSiu8RPldG0VY-2TWLv7z7A">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.linkedin.com/company/hvac-tv-commercials">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
    </div>
</div>
  </ion-content>
</ion-view>
