<ion-view view-title="">
      <ion-nav-title>
        <img class="head-logo" src="../img/jointlogo2.png">
    </ion-nav-title>
  <ion-content>
   <div class="row hacr">
        <div class="col">
            <h2 class="title-h2">
                Meet Our Service Team
            </h2>
        </div>
    </div>
    <div class="row">
      <div class="col list">
       <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/mike-mccollum-installation-coordinator.jpg" alt="">
                <p>
                <strong>
                    Mike McCollum
                    <br>
                    Installation Coordinator
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/mike-onuffer-service-manager.jpg" alt="">
                <p>
                <strong>
                    Mike Onuffer
                    <br>
                    Service Manager
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Tech-July-2015-4-Carl-Boyd.jpg" alt="">
                <p>
                <strong>
                    Carl Boyd
                    <br>
                    Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/walter-luscy-hvac-tech.jpg" alt="">
                <p>
                <strong>
                    Walter Luscy
                    <br>
                    HVAC Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="../img/meet-our-team/steve-alcala.jpg" alt="">
                <p>
                <strong>
                    Steve Alcala
                    <br>
                    Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/rod-jones-hvac-tech.jpg" alt="">
                <p>
                <strong>
                    Rod Jones
                    <br>
                    HVAC Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/rod-jones-hvac-tech.jpg" alt="">
                <p>
                <strong>
                    Rod Jones
                    <br>
                    HVAC Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/oscar-blanco-installer.jpg" alt="">
                <p>
                <strong>
                    Oscar Blanco
                    <br>
                    Installer
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Comfort-Mitch-July-2015.jpg" alt="">
                <p>
                <strong>
                    Mitch Trent
                    <br>
                    Comfort Specialist
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/kenneth-case-hvac-tech.jpg" alt="">
                <p>
                <strong>
                    Kenneth Case
                    <br>
                    HVAC Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/jon-edwards.jpg" alt="">
                <p>
                <strong>
                    Jon Edwards
                    <br>
                    Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/eddie-dunn-installer.jpg" alt="">
                <p>
                <strong>
                    Eddie Dunn
                    <br>
                    Installer
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/duncan-murphy-installer.jpg" alt="">
                <p>
                <strong>
                    Duncan Murphy
                    <br>
                    Installer
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Service-16-clipped.jpg" alt="">
                <p>
                <strong>
                    Kelly Price
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Danny-Ward-Installer.jpg" alt="">
                <p>
                <strong>
                    Danny Ward
                    <br>
                    Installer
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Tech-Bryan-Bishop.jpg" alt="">
                <p>
                <strong>
                    Bryan Bishop
                    <br>
                    Installer &amp; Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Tech-Eddie-Lawnhorn-7-15.jpg" alt="">
                <p>
                <strong>
                    Eddie Lawhorn
                    <br>
                    Technician
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Tech-Josh-Taylor-July-2015.jpg" alt="">
                <p>
                <strong>
                    Josh Taylor
                    <br>
                    Installer
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
            <div class="col">
                <img src="img/meet-our-team/Tech-July-2015-1-Derek-Coleman.jpg" alt="">
                <p>
                <strong>
                    Derek Coleman
                    <br>
                    Installer
                </strong>
                </p>
            </div>
        </div>
        <div class="row team-profile item">
        <div class="col">
                <img src="img/meet-our-team/Tech-July-2015-2-Chris-Marr.jpg" alt="">
                <p>
                <strong>
                    Chris Marr
                    <br>
                    Technician
                </strong>
                </p>
            </div>
        </div>
    </div>
    </div>
<div class="row footer-icons">
   <div class="col">
       <a href="https://www.facebook.com/Berico-Heating-and-Air-Conditioning-132691350173585/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://plus.google.com/+BericoFuelsGreensboro/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.youtube.com/channel/UCSiu8RPldG0VY-2TWLv7z7A">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.linkedin.com/company/hvac-tv-commercials">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
    </div>
</div>
  </ion-content>
</ion-view>
