<ion-view view-title="">
      <ion-nav-title>
        <img class="head-logo" src="../img/jointlogo2.png">
    </ion-nav-title>
  <ion-content>
   <div class="row hacr">
        <div class="col">
            <h2 class="title-h2">
                Motor Oil and Lubricants
                <em>Helping your business run smoothly!</em>
            </h2>
            <p>
                Conveniently located in the Triad of North Carolina, Alamance Oil supplies motor oil and lubricants to keep your company running smoothly. Based out of Burlington, the company maintains distribution centers in Greensboro, Eden and Reidsville, we provide prompt attention to all your oil and lubricant needs.
            </p>
            <p>
                We offer a wide variety of lubricants, greases, gasoline, kerosene, fuel and other petroleum products to all types of businesses. Be it the small independent automotive maintenance company or the large transport company to an industrial facility, you will find us to be reliable and cost competitive.
            </p>
            <p>
                Please call Alamance Oil at 336-226-9371, or email at <a href="mailto:inforequest@alamanceoilco.com" target="_blank">inforequest@alamanceoilco.com</a> for a quote today. We appreciate the opportunity to serve you.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col partner-logo">
            <p>
                <img src="../img/logo_pennzoil.jpg" alt="">
            </p>
            <p>
                <img src="../img/logo_aeroshell.jpg" alt="">
            </p>
            <p>
                <img src="../img/logo_quaker.jpg" alt="">
            </p>
            <p>
                <img src="../img/logo_bioblend.jpg" alt="">
            </p>
            <p>
                <img src="../img/logo_shell.jpg" alt="">
            </p>
            <p>
                <img class="map" src="../img/pic_map.jpg" alt="">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list">
                <li class="item item-divider"><strong>Automotive &amp; Transportation</strong></li>
                <li class="item">Motor Oils</li>
                <li class="item">Gear Oils</li>
				<li class="item">Anti Freeze &amp; Coolants</li>
				<li class="item">Bulk Lubricants</li>
				<li class="item">Engine Oils</li>
				<li class="item">Hydraulics - Other Leading Brands</li>
				<li class="item">Tractor Fluids</li>
				<li class="item">Railroad Oils</li>
				<li class="item">Marine Outboard Oils</li>
				<li class="item">Transmission Fluids</li>
				<li class="item">Engine Fluids</li>
               
                <li class="item item-divider"><strong>Industrial</strong></li>
                <li class="item">Motor Oils</li>
                <li class="item">Gear Oils</li>
				<li class="item">Anti Freeze &amp; Coolants</li>
				<li class="item">Bulk Lubricants</li>
				<li class="item">Engine Oils</li>
				<li class="item">Hydraulics - Other Leading Brands</li>
				<li class="item">Tractor Fluids</li>
				<li class="item">Railroad Oils</li>
				<li class="item">Marine Outboard Oils</li>
				<li class="item">Transmission Fluids</li>
				<li class="item">Engine Fluids</li>

                <li class="item item-divider"><strong>Aviation</strong></li>
                <li class="item">Aeroshell Products</li>
                <li class="item">Phillips X/C</li>
				<li class="item">Other Brands Available</li>

                <li class="item item-divider"><strong>Other</strong></li>
                <li class="item">Oil Reclamation Service</li>
                <li class="item">Synthetic Oils</li>
				<li class="item">Solvents</li>
                <li class="item">Greases</li>
            </ul>
        </div>
    </div>
<div class="row footer-icons">
   <div class="col">
       <a href="https://www.facebook.com/Berico-Heating-and-Air-Conditioning-132691350173585/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://plus.google.com/+BericoFuelsGreensboro/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.youtube.com/channel/UCSiu8RPldG0VY-2TWLv7z7A">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.linkedin.com/company/hvac-tv-commercials">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
    </div>
</div>
  </ion-content>
</ion-view>
