<ion-view view-title="">
      <ion-nav-title>
        <img class="head-logo" src="../img/jointlogo2.png">
    </ion-nav-title>
  <ion-content>
   <div class="row prop-p">
       <div class="col">
            <h2 class="title-h2">Propane Delivery &amp; Services</h2>
            <p style="text-align:center;">
                <a href="#/app/schedule-fuel-delivery" class="order-btn button button-clear"></a>
            </p>
            <p style="font-size:medium;">
                At <strong>Berico, Alamance Oil and Carolina Fuels</strong> , we are committed to providing our propane customers with first class service and delivery to both families and businesses in the Greensboro, High Point, Burlington, and Eden areas. We Look to differentiate our propane services through the following:
            </p>
            <ul class="ul-circ">
                <li>Locally operated Propane and Fuel Oil Delivery 24/7</li>
                <li>Long Term Savings (our customers save on average $150/year)</li>
                <li>FREE propane tank swap outs for new customers</li>
                <li>A Service, Tune-up &amp; Repair Department 24/7</li>
                <li>No hidden fees or delivery fees</li>
                <li>Referral credits</li>
                <li>Service Plans with Propane Discount</li>
                <li>FREE estimates on new Propane Heating Furnaces and Air Conditioners</li>
            </ul>
            <p style="margin: 10px 0;">
                <img style="width:100%;" src="../img/pic_propane.jpg" alt="">
            </p>
            <p style="font-size:large;">
                <strong>New Customers</strong>
            </p>
            <p>
                If you're interested in Berico, Alamance Oil, Or Carolina Fuels providing your propane don't hesitate to contact us for quick and easy information on how to get started. Due to recent regulations, any existing propane tanks are likely owned by your current propane supplier and we can help you through the FREE and easy change-over process. Furthermore, to reward our loyal customers, we offer free perks like Bonus Bucks and referral credits.
            </p>
            <p>
                Berico, Alamance Oil, and Carolina Fuels are leading propane suppliers for Greensboro, High Point, Burlington, Eden and the surrounding areas. We believe that our customers fuel our future, which is why we put you first. Don't forget, we also offer free energy evaluations on all your heating units and air conditioners. If you'd like to make the FREE and easy switch to Berico, Alamance Oil, Or Carolina Fuels call us today! Contact us
            </p>
            <p style="font-size:large;">
                <strong>Have An Emergency?</strong>
            </p>
            <p>
                At Berico, Alamance Oil, and Carolina Fuels we understand that emergencies happen, which is why we offer emergency services 24/7. Whether your propane tank runs out or you experience a heating or air conditioning breakdown, we'll do everything in our power to ensure you are comfortable. Regardless of the hour, call on Berico to restore your heating or cooling system!
            </p>
            <p style="font-size:large;">
                <strong>Need a Temporary Propane or Fuel tank?</strong>
            </p>
            <p>
                Berico. Alamance Oil, and Carolina Fuels understand that you may only need a propane tank for a few weeks or months, which is why we lease out our propane and fuel oil tanks. We offer excellent prices and delivery for local construction companies, small businesses and commercial dealers. We'll happily send one of our experienced technicians to take at look at your desired tank location.
            </p> 
            <p style="font-size:large;">
                <strong>Safety First</strong>
            </p>   
           <p>
               We work hard to ensure the safety of you and your family, which is why we offer propane service plans and inspections. For your convenience, we automatically do this during installation and recommend when to schedule your tune-up. However, if you can't remember your last inspection or tune-up, feel free to contact us and we keep your information. We'll gladly send a technician out to ensure that you and your family are safe!
           </p>
            <p style="font-size:large;">
                <strong>The Facts about Propane!</strong>
            </p> 
            <p>
                Propane is a safe, economical and clean energy - both inside and out. There are many advantages of propane heating including:
            </p>
            <ul>
                <li>
                    <strong>Cleanliness</strong>  - Propane is basically pure energy, with no odors or residue. It's not considered a greenhouse gas, and is in fact listed as approved clean fuel by the United States government.
                </li>
                <li>
                    <strong>Reliability</strong>  - Whether there are major environmental disaster or the power goes out, propane is a great alternative heating fuel.
                </li>
                <li>
                    <strong>Affordability</strong>  - Propane is quite affordable and works harder than traditional energies. It also burns hotter than electric heat, meaning it takes less to power appliances and heat the home - leading to even more savings.
                </li>
                <li>
                    <strong>Safety</strong>  - Propane is a safe, clean-burning and non-toxic heating source.
                </li>
            </ul>
            <p>
                Berico is fully equipped to install or provide any type of fuel tank your home or office may need, everything from propane to oil and even gasoline. Our technicians are ready to install any size tank - both above and below ground.
            </p>
        </div>
    </div>        
<div class="row footer-icons">
   <div class="col">
       <a href="https://www.facebook.com/Berico-Heating-and-Air-Conditioning-132691350173585/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://plus.google.com/+BericoFuelsGreensboro/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.youtube.com/channel/UCSiu8RPldG0VY-2TWLv7z7A">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.linkedin.com/company/hvac-tv-commercials">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
    </div>
</div>
  </ion-content>
</ion-view>
