<ion-view view-title="">
      <ion-nav-title>
      <img class="head-logo" src="../img/jointlogo2.png">
    </ion-nav-title>
    <ion-content>
        <div class="row">
            <div class="col">
                <h2 class="title-h2">Our Specials</h2>
            </div>
        </div>
        <ul class="list">
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/york-rebates-special/">York Rebates Special</a></h2>
                <p class="price">
                        Up to $1700 Rebate on Select York Systems
                </p>
                <p>
                    Expires 9/31/2016
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/free-parts-labor-special/">York Special</a></h2>
                <p class="price">
                    Discounts on 10 Year Parts &amp; Labor Warranties
                </p>
                <p>
                    Prices vary depending on select systems, but as low $136!!!
                </p>
                <p>
                    Expires 9/31/2016
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/5-cents-off-per-gallon/">5 Cents Off Per Gallon</a></h2>
                <p class="price">
                    5 Cents Off per Gallon
                </p>
                <p>
                    for Online Oil &amp; Propane Requests!
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/new-propane-customer-special/">NEW PROPANE CUSTOMER SPECIAL</a></h2>
                <p>
                    Call today for special pricing
                </p>

                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/referral-credit/">Referral Credit</a></h2>
                <p class="price">
                    $100 for new Home Heat Propane Referral
                </p>
                <p class="price">
                    $25 for Gas Log Referral
                </p>
                <p class="price">
                    $50 for new HVAC system replacement Referral
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/new-financing-options-hvac-equipment/">New Financing Options for HVAC Equipment</a></h2>
                <p class="price">
                    Up to 18 Months, No Payment, No Interest
                </p>
                <p>
                    OR
                </p>
                <p class="price">
                    48 Months, No Interest, Equal Payments
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/new-hvac-system-rebates/">New HVAC System Rebates</a></h2>
                <p class="price">
                    Up to $1700 in New HVAC System Rebates!
                </p>
                <p>
                    Expires 5/31/16
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/free-shipping-hvac-filters/">FREE SHIPPING ON HVAC FILTERS</a></h2>
                <p>
                    Visit <a href="http://filterfetch.com/">FilterFetch.com</a> and use Berico's code:
                </p>
                <p>
                    C4Q2
                </p>
                <p>
                    to receive free shipping on HVAC filters
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/digital-thermostat-specials/">DIGITAL THERMOSTAT SPECIALS</a></h2>
                <p class="price">
                    DIGITAL THERMOSTAT SPECIALS BETWEEN $150-$250 INSTALLED
                </p>
                <p>
                    Savings depends on model selected
                </p>
                <p>
                    Customer Average 2 years or less to recoup cost through energy/fuel savings
                </p>
                <p>
                    Expires 5/31/16
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
            <li class="item special-item">
                <h2 class="special-item-title"><a href="http://www.berico.com/service-special/">Service Special</a></h2>
                <p class="price">
                    $25 OFF FIRST SERVICE CALL WITH BERICO
                </p>
                <p>
                    Expires 5/31/16
                </p>
                <p class="label">
                    Cannot be combined with any other offer
                </p>
                <p style="text-align:center;">
                    <a class="order-btn button button-clear"></a>
                </p>
            </li>
        </ul>
        <div class="row footer-icons">
   <div class="col">
       <a href="https://www.facebook.com/Berico-Heating-and-Air-Conditioning-132691350173585/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://plus.google.com/+BericoFuelsGreensboro/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.youtube.com/channel/UCSiu8RPldG0VY-2TWLv7z7A">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-youtube fa-stack-1x"></i>
        </span>
        </a>
    </div>
    <div class="col">
       <a href="https://www.linkedin.com/company/hvac-tv-commercials">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
    </div>
</div>
    </ion-content>
</ion-view>